## Merging Both Datasets

In [1]:
import pandas as pd

real_df = pd.read_csv("real_dataset.csv")  # estimates dataset

# Check the structure
print("real_df:", real_df.shape)
print(real_df.columns)
real_df.head()

real_df: (288292, 13)
Index(['Ticker', 'Period', 'Horizon', 'Estimate_Type', 'Contributor',
       'Analyst', 'Predicted_Value', 'Actual_Value', 'Currency', 'Country',
       'Industry', 'Sector', 'Company_Name'],
      dtype='object')

,Ticker,Period,Horizon,Estimate_Type,Contributor,Analyst,Predicted_Value,Actual_Value,Currency,Country,Industry,Sector,Company_Name
0,003550.KS,Q3 Sep-11,Quarter,EBIT,NH INVESTMENT & SECURITIES (PREVIOUSLY WOORI R...,"Kim, Dongyang",246.163,230.939,KRW,South Korea,Conglomerates,Industrials,LG Corp
1,003550.KS,Q4 Dec-11,Quarter,EBIT,NH INVESTMENT & SECURITIES (PREVIOUSLY WOORI R...,"Kim, Dongyang",543.192,329.465,KRW,South Korea,Conglomerates,Industrials,LG Corp
2,003550.KS,FY Dec-11,FY,EBIT,KB SECURITIES,"Park, Kunyung",1324.740,1306.519,KRW,South Korea,Conglomerates,Industrials,LG Corp
3,003550.KS,FY Dec-11,FY,EBIT,NH INVESTMENT & SECURITIES (PREVIOUSLY WOORI R...,"Kim, Dongyang",1533.167,1306.519,KRW,South Korea,Conglomerates,Industrials,LG Corp
4,003550.KS,FY Dec-11,FY,EBIT,MACQUARIE RESEARCH,"Kim, Daniel",2682.474,1306.519,KRW,South Korea,Conglomerates,Industrials,LG Corp

In [2]:
macro_df = pd.read_csv("macro_dataset.csv")

# Check the structure
print("macro_df:", macro_df.shape)
print(macro_df.columns)
macro_df.head()

macro_df: (5036, 35)
Index(['Date', 'S&P 500', 'Nasdaq 100', 'Dow Jones', 'Russell 2000',
       'Emerging Markets', 'VIX', 'Nasdaq Volatility (VXN)', 'US 2Y Yield',
       'US 10Y Yield', 'US 30Y Yield', '7-10Y Treasury Bond ETF',
       '20Y Treasury Bond ETF', 'Fed Funds Futures', 'US Corporate Bonds',
       'WTI Crude Oil', 'Gold', 'Silver', 'Copper', 'Natural Gas', 'TIPS ETF',
       'US Dollar Index', 'USD/EUR', 'USD/JPY', 'USD/GBP', 'USD/CNY',
       'Tech ETF', 'Financials ETF', 'Healthcare ETF', 'Energy ETF',
       'Consumer Discretionary ETF', 'Utilities ETF', 'Consumer Staples ETF',
       'Industrials ETF', 'Materials ETF'],
      dtype='object')

,Date,S&P 500,Nasdaq 100,Dow Jones,Russell 2000,Emerging Markets,VIX,Nasdaq Volatility (VXN),US 2Y Yield,US 10Y Yield,...,USD/CNY,Tech ETF,Financials ETF,Healthcare ETF,Energy ETF,Consumer Discretionary ETF,Utilities ETF,Consumer Staples ETF,Industrials ETF,Materials ETF
0,2004-01-05,1122.219971,1496.579956,10544.070312,568.919983,12.794835,17.49,23.889999,0.902,4.387,...,8.267000,15.854705,14.939609,21.322910,15.609103,24.238638,11.146448,12.616064,18.013670,17.050915
1,2004-01-06,1123.670044,1501.260010,10538.660156,569.890015,12.650259,16.73,22.760000,0.901,4.277,...,8.267100,15.998282,14.934336,21.386131,15.592423,24.331007,11.122541,12.645186,17.986990,16.899908
2,2004-01-07,1126.329956,1514.260010,10529.030273,574.619995,12.679770,15.50,21.910000,0.886,4.246,...,8.267201,16.073854,14.944890,21.519571,15.431157,24.438763,11.179922,12.592768,18.013670,16.811832
3,2004-01-08,1131.920044,1530.650024,10592.440430,579.619995,12.727712,15.61,21.889999,0.847,4.249,...,8.267201,16.391247,14.997641,21.428276,15.475640,24.361792,11.175144,12.575290,18.127089,17.000576
4,2004-01-09,1121.859985,1520.459961,10458.889648,575.200012,12.704847,16.75,23.010000,0.842,4.086,...,8.267000,16.172089,14.944890,21.294827,15.553499,24.261728,11.136882,12.482102,17.946949,16.704865

In [3]:
real_df["Horizon"].unique()

array(['Quarter', 'FY', 'H2', 'H1'], dtype=object)

In [4]:
real_df[real_df["Horizon"] == "Quarter"]["Period"]

0         Q3 Sep-11
1         Q4 Dec-11
5         Q1 Mar-12
6         Q2 Jun-12
7         Q2 Jun-12
            ...
288287    Q3 Apr-25
288288    Q3 Apr-25
288289    Q3 Apr-25
288290    Q3 Apr-25
288291    Q3 Apr-25
Name: Period, Length: 198134, dtype: object

In [5]:
real_df[real_df["Horizon"] == "FY"]["Period"]

2         FY Dec-11
3         FY Dec-11
4         FY Dec-11
11        FY Dec-12
12        FY Dec-12
            ...
288228    FY Jul-24
288229    FY Jul-24
288230    FY Jul-24
288231    FY Jul-24
288232    FY Jul-24
Name: Period, Length: 89939, dtype: object

In [6]:
real_df[real_df["Horizon"] == "H1"]["Period"]

12225     SAN1 Jun-18
12233     SAN1 Jun-20
12369     SAN1 Jun-18
12377     SAN1 Jun-20
12440     SAN1 Jun-18
             ...
221858    SAN1 Jun-21
221864    SAN1 Jun-22
221877    SAN1 Jun-24
224990    SAN1 Jun-24
225099    SAN1 Jun-24
Name: Period, Length: 119, dtype: object

In [7]:
real_df[real_df["Horizon"] == "H2"]["Period"]

12175     SAN2 Dec-17
12179     SAN2 Dec-18
12217     SAN2 Dec-16
12221     SAN2 Dec-17
12226     SAN2 Dec-18
             ...
221805    SAN2 Dec-10
221810    SAN2 Dec-11
221820    SAN2 Dec-13
221825    SAN2 Dec-14
221878    SAN2 Dec-24
Name: Period, Length: 100, dtype: object

In the context of this project, where the primary objective is to build a **machine learning-based smart consensus model** that **outperforms the naive average** of analyst estimates, it is essential to ensure that the data used for training reflects the actual **information environment** analysts would have had at the time of making their forecasts. The key consideration is how to appropriately **align macroeconomic indicators** with each forecasted period in a way that **avoids lookahead bias** and maintains the integrity of the model.

The dataset contains analyst estimates with a target period specified by the variable **"Period"**, which refers to the **timeframe being forecasted** (e.g., Q3 Sep-11), not the date when the forecast was issued. Because we do not observe the exact **timestamp of each estimate**, we must simulate a realistic information set that approximates what analysts could have known **prior to the forecasted period**. Using macroeconomic data from the same period, or worse, from the end of the period, would inject **future information** into the model and **invalidate its predictive power**.

To address this, we **map each forecasted period to macroeconomic data from one month before the beginning of that period**. This is based on a practical assumption: most analyst forecasts are made shortly before the target period begins, and macroeconomic statistics for any given month are typically **published early the following month**. By selecting data from the **last available day of the previous month**, we ensure that we are only using information that would have been **realistically available to analysts** at the time of their estimation.

This approach avoids **lookahead bias**, supports **generalization**, and ensures that the model is trained on features that were truly **observable at forecast time**. It works across all forecast horizons: **quarterly, half-yearly, and full-year**. For example, a forecast labeled “Q3 Sep-11” (referring to July–September 2011) would use macro data from **June 2011**; a full-year forecast labeled “FY Dec-11” would use data from **December 2010**; and a half-year forecast labeled “H2 Dec-17” would use data from **June 2017**. 

| **Forecast Horizon** | **Period Label** | **Interpreted Period** | **Use Macro Data From** |
|----------------------|------------------|-------------------------|--------------------------|
| Quarter              | Q3 Sep-11        | Jul–Sep 2011            | June 2011                |
| Quarter              | Q4 Dec-11        | Oct–Dec 2011            | September 2011           |
| FY                   | FY Dec-11        | Jan–Dec 2011            | December 2010            |
| H1                   | SAN1 Jun-18      | Jan–Jun 2018            | December 2017            |
| H2                   | SAN2 Dec-17      | Jul–Dec 2017            | June 2017                |

In [8]:
macro_df["Date"] = pd.to_datetime(macro_df["Date"])
macro_df.head()

,Date,S&P 500,Nasdaq 100,Dow Jones,Russell 2000,Emerging Markets,VIX,Nasdaq Volatility (VXN),US 2Y Yield,US 10Y Yield,...,USD/CNY,Tech ETF,Financials ETF,Healthcare ETF,Energy ETF,Consumer Discretionary ETF,Utilities ETF,Consumer Staples ETF,Industrials ETF,Materials ETF
0,2004-01-05,1122.219971,1496.579956,10544.070312,568.919983,12.794835,17.49,23.889999,0.902,4.387,...,8.267000,15.854705,14.939609,21.322910,15.609103,24.238638,11.146448,12.616064,18.013670,17.050915
1,2004-01-06,1123.670044,1501.260010,10538.660156,569.890015,12.650259,16.73,22.760000,0.901,4.277,...,8.267100,15.998282,14.934336,21.386131,15.592423,24.331007,11.122541,12.645186,17.986990,16.899908
2,2004-01-07,1126.329956,1514.260010,10529.030273,574.619995,12.679770,15.50,21.910000,0.886,4.246,...,8.267201,16.073854,14.944890,21.519571,15.431157,24.438763,11.179922,12.592768,18.013670,16.811832
3,2004-01-08,1131.920044,1530.650024,10592.440430,579.619995,12.727712,15.61,21.889999,0.847,4.249,...,8.267201,16.391247,14.997641,21.428276,15.475640,24.361792,11.175144,12.575290,18.127089,17.000576
4,2004-01-09,1121.859985,1520.459961,10458.889648,575.200012,12.704847,16.75,23.010000,0.842,4.086,...,8.267000,16.172089,14.944890,21.294827,15.553499,24.261728,11.136882,12.482102,17.946949,16.704865

In [9]:
from dateutil import parser
from pandas.tseries.offsets import MonthEnd

# We define a function to convert 'Period' + 'Horizon' into a datetime
def period_to_date(row):
    period = row["Period"]
    horizon = row["Horizon"]

    try:
        # General case: use last part of the string as month-year (e.g., "Sep-11", "Dec-12")
        if horizon in ["Quarter", "FY"]:
            date_str = period.split()[-1]
            dt = parser.parse("01-" + date_str, dayfirst=True) + MonthEnd(1)
        elif horizon == "H1":
            # For 'SAN1 Jun-20' → take the 'Jun-20'
            date_str = period.split()[-1]
            dt = parser.parse("01-" + date_str, dayfirst=True) + MonthEnd(1)
        elif horizon == "H2":
            # For 'SAN2 Dec-20' → same logic
            date_str = period.split()[-1]
            dt = parser.parse("01-" + date_str, dayfirst=True) + MonthEnd(1)
        else:
            return pd.NaT
    except Exception:
        return pd.NaT

    return dt

# We create 'Macro_Merge_Date' = 1 month before target period
real_df["Target_Period_End"] = real_df.apply(period_to_date, axis=1)
real_df["Macro_Merge_Date"] = real_df["Target_Period_End"] - pd.DateOffset(months=1)

# Round to nearest business day available in macro_df
# First make sure macro_df['Date'] is datetime and sorted
macro_df["Date"] = pd.to_datetime(macro_df["Date"])
macro_df = macro_df.sort_values("Date")

# Merge using the closest earlier or equal macro date (asof merge)
macro_df = macro_df.sort_values("Date")
real_df = real_df.sort_values("Macro_Merge_Date")
combined_df = pd.merge_asof(real_df, macro_df, left_on="Macro_Merge_Date", right_on="Date", direction="backward")
combined_df.drop(columns=["Macro_Merge_Date", "Date"], inplace=True) # drop helper columns

# We keep the true end-of-period date for the forecast, which might be useful for temporal alignment, modeling lags, 
# visualizations, and potentially for grouped time-series CV.

print("Combined shape:", combined_df.shape)
combined_df.head()

Combined shape: (288292, 48)

,Ticker,Period,Horizon,Estimate_Type,Contributor,Analyst,Predicted_Value,Actual_Value,Currency,Country,...,USD/CNY,Tech ETF,Financials ETF,Healthcare ETF,Energy ETF,Consumer Discretionary ETF,Utilities ETF,Consumer Staples ETF,Industrials ETF,Materials ETF
0,ORCL.K,Q1 Aug-04,Quarter,Revenue,CITIZENS,"Walravens, Patrick D",2219.50,2215.0,USD,United States,...,8.2669,14.690907,14.897687,20.418968,18.193563,23.485022,11.729778,12.879383,18.690874,16.600615
1,ORCL.K,Q1 Aug-04,Quarter,EPS,WILLIAM BLAIR & COMPANY,"Naji, Sebastien",0.10,0.1,USD,United States,...,8.2669,14.690907,14.897687,20.418968,18.193563,23.485022,11.729778,12.879383,18.690874,16.600615
2,ORCL.K,Q1 Aug-04,Quarter,EPS,CITIZENS,"Walravens, Patrick D",0.09,0.1,USD,United States,...,8.2669,14.690907,14.897687,20.418968,18.193563,23.485022,11.729778,12.879383,18.690874,16.600615
3,ORCL.K,Q1 Aug-04,Quarter,Net Income,CITIZENS,"Walravens, Patrick D",458.70,509.0,USD,United States,...,8.2669,14.690907,14.897687,20.418968,18.193563,23.485022,11.729778,12.879383,18.690874,16.600615
4,ORCL.K,Q1 Aug-04,Quarter,Net Income,PIPER SANDLER COMPANIES,"Bracelin, Brent A",491.90,509.0,USD,United States,...,8.2669,14.690907,14.897687,20.418968,18.193563,23.485022,11.729778,12.879383,18.690874,16.600615

In [12]:
combined_df.to_csv("final_dataset.csv", index=False)